modules/opencast-media/branches/0.5-SNAPSHOT/src/main/resources/org/opencastproject/media/mediapackage/jaxb/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mediapackage" type="mediapackageType"/>
  <xs:complexType name="audioType">
    <xs:sequence>
      <xs:element type="deviceType" name="device"/>
      <xs:element type="encoderType" name="encoder"/>
      <xs:element type="xs:byte" name="channels"/>
      <xs:element type="xs:byte" name="bitdepth"/>
      <xs:element type="xs:int" name="samplingrate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encoderType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:float" name="version" use="optional"/>
        <xs:attribute type="xs:string" name="vendor" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="videoType">
    <xs:sequence>
      <xs:element type="deviceType" name="device"/>
      <xs:element type="encoderType" name="encoder"/>
      <xs:element type="xs:string" name="resolution"/>
      <xs:element type="scanTypeType" name="scanType"/>
      <xs:element type="xs:int" name="bitrate"/>
      <xs:element type="xs:byte" name="frameRate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checksumType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="attachmentsType">
    <xs:sequence>
      <xs:element type="attachmentType" name="attachment" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="xs:string" name="mimetype"/>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="checksumType" name="checksum"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="ref" use="optional"/>
  </xs:complexType>
  <xs:complexType name="attachmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="mimetype"/>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="checksumType" name="checksum"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="trackType">
    <xs:sequence>
      <xs:element type="xs:string" name="mimetype"/>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="checksumType" name="checksum"/>
      <xs:element type="xs:int" name="duration"/>
      <xs:element type="videoType" name="video" minOccurs="0"/>
      <xs:element type="audioType" name="audio" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
  </xs:complexType>
  <xs:complexType name="deviceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:int" name="version" use="optional"/>
        <xs:attribute type="xs:string" name="vendor" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element type="catalogType" name="catalog" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scanTypeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="mediaType">
    <xs:sequence>
      <xs:element type="trackType" name="track" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mediapackageType">
    <xs:sequence>
      <xs:element type="mediaType" name="media"/>
      <xs:element type="metadataType" name="metadata"/>
      <xs:element type="attachmentsType" name="attachments"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:dateTime" name="start"/>
    <xs:attribute type="xs:int" name="duration"/>
  </xs:complexType>
</xs:schema>